@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Programowanie Wizualne Projekt</h1>
    <h2>Airplanes and Manufacturers</h2>
    <h3>Mateusz Oleszek, Łukasz Mowiński</h3>
    <ul class="navbar-nav d-flex align-items-center">
        <li class="nav-item">
            <a class="nav-link bg-primary text-white m-2 p-2" asp-area="" asp-controller="Airplanes" asp-action="Index">See Airplanes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link bg-primary text-white m-2 p-2" asp-area="" asp-controller="Manufacturers" asp-action="Index">See Manufacturers</a>
        </li>
    </ul>
</div>
